.top{

    background-image: url(/images/wallpaper.jpeg);
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 600px;
    flex-direction: row;
    background-size: cover;

}
.welcome{
    text-align: center;
    color: #bfff00;
    position: relative;
    
}
.welcome h1{
    top: 142px;
    font-size: 50px;
    position: relative;
}
.welcome p{
    top: 143px;
    font-weight: lighter;
    position: relative;

}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 150px;
}
.flex-item{
    text-align: justify;
}