.top{

    background-image: url(/images/wallpaper.jpeg);
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 600px;
    flex-direction: row;
    background-size: cover;

}
.welcome{
    text-align: center;
    color: #bfff00;
    position: relative;
    
}
.welcome h1{
    top: 130px;
    font-size: 50px;
    position: relative;
}
.welcome p{
    top: 128px;
    font-weight: lighter;
    position: relative;

}
h1{
    text-align: center;
    padding-top: 20px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 40px;
    padding-top: 0px;  
    
}    
.flex-item{
    text-align: center;
    padding: 20px;
    
}
fieldset{
    border: 1px solid saddlebrown;
}
legend{
    text-align: center;
}
